.w-packages {
  width: 70vw;
  margin: -4rem 15rem 0rem 15rem;
  background: #fff;
}
.filterPackages {
  gap: 5rem;
}

.filterStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.filtertext {
  color: #343434;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}
/* pagination  */

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  /* Add equal width and height to create a square container */
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
.previous,
.next {
  margin: 0 16px;
  cursor: pointer;
}
.pagination li {
  cursor: pointer;
  margin: 0px 10px;
  /* padding-left: 6px; */
  /* width: 36px; */
  /* height: 36px; */
}
.pagination li.active {
  background-color: lightgray; /* Background color */
  border-radius: 50%; /* Circular border-radius */
  width: 24px; /* Equal width and height for a circle */
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.active {
  font-weight: bold;
  cursor: pointer;
  color: #181e4b;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.mantine-date-range-picker button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
